<style>
    .banner-game{
        display: flex;
        justify-content: center;
    }
    .banner-game img{
        max-width: 80%;
        max-height: 500px;

    }
    .nav-link{
        text-decoration: none;
        color: #000;
        font-size: 1.1rem;
        font-weight: bold;
    }
    .nav-link :hover{
        opacity: 0.8;
    }

</style>

        <div class="banner-game">
            <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3a650fd1-eca0-4a27-8204-ef3ea54b80d2/daed67k-35ada5fe-5a1e-400a-9834-b19c804b36c3.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzNhNjUwZmQxLWVjYTAtNGEyNy04MjA0LWVmM2VhNTRiODBkMlwvZGFlZDY3ay0zNWFkYTVmZS01YTFlLTQwMGEtOTgzNC1iMTljODA0YjM2YzMucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.THKpXw_sE0PMpOTJbwrf8UeSMnreXfj762-dOAYfUHQ" alt="">
        </div>
        <a class="nav-link" href="../login">Login</a>
